/* General */

.wpp {
  position: fixed;
  width: 4rem;
  height: 4rem;
  z-index: 40;
  top: 88%;
  left: 94%;
}

.img__wpp {
  width: 100%;
  height: 100%;
}

/* Home */

/* Seccion Home */

.home {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.container__home {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.title__home.slogan {
  font-size: 72px;
}

.img-fondo__home {
  width: 100%;
  height: 100%;
}

.img-container__home {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-fondo__home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container__home {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-fondo__home {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blur-overlay__home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  /* Ajusta el valor para más o menos desenfoque */
  opacity: 1;
  /* Comienza con opacidad completa */
  pointer-events: none;
  /* Permite clics a través de este elemento */
  /* Aplicar el efecto de opacidad */
  mask-image: linear-gradient(to right, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
}

/* First secction */

.title__home {
  font-size: 128px;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  padding-left: 40px;
}

.text__color__white {
  color: white;
}

/* Seccion About us */

.about {
  position: relative;
  display: flex;
  width: 100%;
  height: 35rem;
  padding-bottom: 6rem;
}

.content__about {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.title__about {
  font-size: 40px;
  color: #ffc700;
}

.text__about {
  width: 100%;
  height: fit-content;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 0px 260px;
}

.btn__about {
  display: flex;
  width: 20rem;
  height: 4rem;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  color: #ffc700;
  border: 1px solid #ffc700;
  border-radius: 12px;
  text-decoration: none;
}

.btn__about:hover {
  color: white;
  background-color: #ffc700;
  transition: 0.4s;
}

/* Commercial */

.commercial {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.video__commercial {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Collection */

/* Seccion Colección */

.coleccion {
  width: 100%;
  height: 44rem;
  background-color: black;
}

.container__coleccion {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.close__space {
  padding: 0px 35%;
}

.big__space {
  height: 85%;
}

.mid__space {
  height: 70%;
}

.small__space {
  height: 15%;
}

.list__coleccion {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: end;
  list-style: none;
  color: #ffc702;
}

.items__coleccion {
  display: flex;
  width: 12%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-bottom: 1px solid #ffc702;
}

.item--disable {
  color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/* .model__coleccion{
  
} */

.disabled-model__colleccion {
  opacity: 40%;
}

.small-padding__colleccion {
  padding-top: 40px;
  width: 16%;
}

.big-padding__colleccion {
  padding-top: 80px;
  width: 14%;
}

.selection__coleccion {
  width: 80px;
  height: 2px;
  background-color: #ffc702;
}

.selection--disable {
  background-color: rgba(255, 255, 255, 0.25);
}

/* Seccion Noticias */

.news {
  display: flex;
  width: 100%;
  height: 20rem;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.container__news {
  display: flex;
  width: 80%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background: linear-gradient(to right, #2c2c2c, #0e0e0e);
  box-shadow: -4px 0px 0px 0 #ffc702, 4px 0px 0px 0 #ffc702;
}

.title__news {
  color: #ffc702;
  font-size: 24px;
}

.subtitle__news {
  color: white;
  font-size: 24px;
}

.text__news {
  color: #999999;
  font-size: 18px;
  text-align: center;
}

.link__news {
  display: flex;
  width: 128px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffc702;
  border: 2px solid #ffc702;
  border-radius: 12px;
  text-decoration: none;
}

.link__news:hover {
  color: white;
  background-color: #ffc702;
  transition: 0.4s;
}

/* Sponsors */

.sponsors {
  display: flex;
  width: 100%;
  height: 12rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.title__sponsors {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}

.container__sponsors {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: space-around;
  align-items: center;
}

.img__sponsors {
  max-width: 80px;
}

/* D10+ */

.academy {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Footer 1*/

.footer__info {
  display: flex;
  width: 100%;
  height: 20rem;
  background-color: #141414;
  color: white;
}

.contact__footer {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container-contact__footer {
  width: 50%;
  height: 50%;
}

.title__footer {
  font-size: 40px;
}

.input__footer {
  width: 250px;
  height: 40px;
  margin-top: 12px;
  padding: 16px;
  background-color: transparent;
  border: 2px solid #262626;
  border-radius: 12px;
}

/* Seccion Services */

.services__footer {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.list__footer {
  list-style: none;
}

.text-list__footer {
  color: #999999;
}

/* Footer 2 */

.footer__copyright {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #191919;
  color: white;
}

.copy__footer {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0px 200px;
}

.redes__footer {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0px 380px;
}
