.aboutus {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.cntr-txt__aboutus {
  display: flex;
  width: 100%;
  height: 24rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: black;
}

.title-1__aboutus {
  color: #ffc700;
  font-size: 100px;
}

.title-2__aboutus {
  color: white;
  font-size: 64px;
}

.title-3__aboutus {
  color: #ffc700;
  font-size: 48px;
}

.text__aboutus {
  color: white;
}

.padding-cntr-txt__space {
  padding: 0px 280px 20px 280px;
}

.cntr-central__aboutus {
  display: flex;
  width: 100%;
  height: 48rem;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/fondo_about_central.png);
}

.central-cntr__aboutus {
  display: flex;
  width: 40%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cntr-img__aboutus {
  display: flex;
  width: 100%;
  height: 40rem;
  justify-content: space-around;
  align-items: center;
  text-align: start;
}

.img-bg-left__aboutus {
  background-image: url(../../assets/img/fondo_about_side_left.png);
}

.img-bg-right__aboutus {
  background-image: url(../../assets/img/fondo_about_side_right.png);
}

.cntr-side__aboutus {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
}

.cntr-empty__aboutus {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
}

.sponsors__aboutus {
  display: flex;
  width: 100%;
  height: 12rem;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.img__aboutus {
  width: 8%;
}
