.aboutus {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.cntr-txt__aboutus {
  display: flex;
  width: 100%;
  height: 24rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.padding-cntr-txt__space {
  padding: 0px 280px 20px 280px;
}

.cntr-central__aboutus {
  display: flex;
  width: 100%;
  height: 48rem;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/fondo_about_central.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.central-cntr__aboutus {
  display: flex;
  width: 40%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cntr-img__aboutus {
  display: flex;
  width: 100%;
  height: 40rem;
  justify-content: space-around;
  align-items: center;
  text-align: start;
}

.img-bg-left__aboutus {
  background-image: url(../../assets/img/fondo_about_side_left.png);
}

.img-bg-right__aboutus {
  background-image: url(../../assets/img/fondo_about_side_right.png);
}

.cntr-side__aboutus {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
}

.cntr-empty__aboutus {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
}

.sponsors__aboutus {
  display: flex;
  width: 100%;
  height: 12rem;
  justify-content: space-around;
  align-items: center;
}

.img__aboutus {
  width: 8%;
}

@media (max-width: 768px) {
  .cntr-txt__aboutus {
    padding: 0px 40px;
  }

  /*  */

  .cntr-central__aboutus {
    height: fit-content;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../assets/img/fondo_about_central.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .central-cntr__aboutus {
    width: 80%;
    height: 100%;
    padding: 40px;
  }

  /*  */

  .cntr-txt__aboutus {
    height: fit-content;
  }

  .padding-cntr-txt__space {
    padding: 40px;
  }

  .title-3__aboutus {
    padding: 20px;
  }

  /*  */

  .cntr-img__aboutus {
    height: fit-content;
    flex-direction: column;
  }

  .cntr-empty__aboutus {
    width: 0%;
  }

  .cntr-side__aboutus {
    width: 100%;
    height: 100%;
    padding: 40px;
  }
}
