.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/img/fondo_home_d10_academy.png');
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 5;
}

.full-screen.active {
  opacity: 1;
  z-index: 10;
}

.div_title_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: fixed;
  height: 100%;
  top: 14px;
  left: 50%;
  /* top: calc(55% - 135px);
  left: calc(53% - 40px); */
  /* font-size: 128px; */
  color: white;
  font-weight: bold;
  transition: transform 1s ease;
  z-index: 20;
  transform: translate(-50%, -50%);
}

.logo {
  object-fit: contain;
}

.div_img {
  display: flex;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 15px;
  left: 30%;
  z-index: 15;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  top: 50%;
  left: 50%;
  font-size: 150px;
  color: white;
  font-weight: bold;
  transition: transform 1s ease;
}

.title.init {
  color: black;
}

.canvas {
  opacity: 0.5;
}


/* Animación de entrada suave */
.fade-in {
  opacity: 0;
  transform: scale(3.1);
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Ajustes para el logo y el título */
.div_img,
.div_title_logo {
  transition: opacity 1s ease, transform 1s ease;
}

.select-none {
  transition: opacity 1s ease, transform 0.5s ease;
}


/* Media Queries */

/* Desktop */
@media (min-width: 1024px) {
  #section_spline.section>div.div_img {
    left: 26%;
  }

  div.div_title_logo>h1.title {
    font-size: 130px;
  }
}

/* Tablet */
@media (min-width: 1023px) {
  #section_spline>div.div_img {
    left: 28%;
  }

  div>h1.title {
    font-size: 80px;
  }

  div.div_title_logo {
    left: calc(53% - 25px);
  }
}

/* Móvil */
@media (min-width: 767px) {
  div.div_img {
    left: 30%;
  }

  h1.title {
    font-size: 50px;
  }
}


@media (min-width: 481px) {
  .title {
    font-size: 50px;
  }
}


@media (min-width: 320px) {
  .title {
    font-size: 50px;
  }
}