.container__news {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: #141414;
}

.news {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid white;
  margin: 20px 0px 20px 0px;
}

.section__news {
  width: 80%;
  height: fit-content;
}

.article__news {
  display: flex;
  width: 100%;
  height: 20rem;
  border-bottom: 1px solid white;
  padding: 2rem 0px 2rem 0px;
}

.cntr-text__news {
  width: 50%;
  height: 100%;
  padding-right: 4rem;
}

.title__news {
  color: #ffc802;
  font-size: 32px;
  padding-bottom: 1.5rem;
}

.text__news {
  color: white;
  font-size: 24px;
  padding-bottom: 1.5rem;
}

.date__news {
  color: #404040;
}

.cntr-img__news {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.img__news {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  width: 20%;
  height: 100%;
  padding: 2rem 0px 0px 4rem;
  user-select: none;
}

.cntr__date {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
}

.title__date {
  color: #ffc802;
  font-size: 32px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0;
}

.title__date:hover {
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.months__list {
  list-style-type: none;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.month__item {
  margin: 2px 0;
}

.month__item:hover {
  color: #ffc802;
  cursor: pointer;
  transition: 0.4s;
}

.months__list.expand {
  max-height: 320px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.page-button {
  background-color: transparent;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.page-button.active {
  background-color: #ffc802;
  color: black;
  font-weight: bold;
}
