.container__news {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: #141414;
}

.news {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.section__news {
  width: 80%;
  height: fit-content;
}

.article__news {
  display: flex;
  width: 100%;
  height: 20rem;
  border-bottom: 1px solid white;
  padding: 2rem 0px 2rem 0px;
}

.cntr-text__news {
  width: 50%;
  height: 100%;
  padding-right: 4rem;
}

.title__news {
  color: #ffc802;
  font-size: 32px;
  padding-bottom: 1.5rem;
}

.text__news {
  color: white;
  font-size: 24px;
  padding-bottom: 1.5rem;
}

.date__news {
  color: #404040;
}

.cntr-img__news {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.img__news {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  width: 20%;
  height: 100%;
  padding: 2rem 0px 0px 4rem;
  border-left: 1px solid white;
}

.cntr__date {
  width: 100%;
  height: 100%;
}

.title__date {
  color: #ffc802;
  font-size: 32px;
}

.title__date:hover {
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
