/* .row-title__services {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border-bottom: 1px solid #6b6b6b;
}

.one-title__services {
  font-size: 50px;
  color: #ffc702;
  font-weight: bold;
} */

.services {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.row-content__services {
  display: flex;
  width: 100%;
  height: 34%;
  justify-content: space-around;
  align-items: center;
}

.cntr-text__services {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  background-color: black;
  padding: 40px 160px 40px 80px;
}

.cntr-text--bg {
  background-color: #222222;
}

.title__services {
  font-size: 16px;
  color: #ffc702;
}

.subtitle__services {
  font-size: 32px;
  color: white;
}

.text__services {
  font-size: 18px;
  color: whitesmoke;
}

.cntr-img__services {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__services {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

@media (min-width: 1153px) {
  .cntr-text__services {
    padding: 20px 50px 40px 50px;
  }
}

@media (min-width: 769px) and (max-width: 1152px) {
  .cntr-text__services {
    padding: 14px 25px 20px 25px;
  }

  .subtitle__services {
    font-size: 24px;
    color: white;
  }

  .text__services {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .row-content__services {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
  }

  .cntr-text__services {
    width: 100%;
    height: fit-content;
    padding: 8px 14px 8px 14px;
  }

  .title__services {
    font-size: 10px;
  }

  .subtitle__services {
    font-size: 18px;
  }

  .text__services {
    font-size: 12px;
  }

  .cntr-img__services {
    width: 100%;
    height: 50%;
  }
}
