.panel {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #191919;
}

.login {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.title__login {
  color: white;
}

.container__login {
  position: relative;
  display: flex;
  padding: 0 6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}

.form__login {
  position: relative;
  z-index: 40;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
}

.input__login {
  outline: none;
  width: 320px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b6b8bb;
  margin: 10px 0px;
  background: #FFFFFF;
}

.btn__login {
  width: 100%;
  height: 40px;
  padding: 10px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 8px;
  margin: 10px 0px;
  font-size: 16px;
}

.btn__login:hover {
  cursor: pointer;
  background-color: #7a7a7a;
  color: black;
  transition: 0.4s ease-in-out;
}

.link__login {
  color: white;
  text-decoration: none;
}

.link__login:hover,
.link__login:active,
.link__login:focus {
  color: #ffc702;
}

.text__login {
  color: white;
}

.link-2__login {
  color: #ffc702;
}

.btn__login:hover,
.btn__login:active,
.btn__login:focus {
  opacity: 0.5;
  background: #ffc702;
  color: #000000;
}