.panel {
  position: fixed;
  width: 100%;
  height: 4rem;
}

.login {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__login {
  display: flex;
  width: 440px;
  height: 440px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}

.form__login {
  display: flex;
  width: 80%;
  height: 80%;
  padding-left: 15%;
  justify-content: center;
  flex-direction: column;
}

.label__login {
  cursor: text;
}

.input__login {
  width: 220px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b6b8bb;
  margin: 10px 0px;
}

.btn__login {
  width: 220px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 10px 0px;
}

.btn__login:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.link__login {
  text-decoration: none;
}
