@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-100: #FFFFFF;
  --text-200: #000000;
  --text-300: #FFC702;
  --text-400: #5A5A5A;

  --bg-100: #1A1A1A;
  --bg-200: #5A5A5A;
  --bg-300: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  height: 100%;
}

body {
  background: #000000;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.text_100 {
  color: var(--text-100);
}

.text_200 {
  color: var(--text-200);
}

.text_300 {
  color: var(--text-300);
}

.text_400 {
  color: var(--text-400);
}

.bg_100 {
  background: var(--bg-100);
}

.bg_200 {
  background: var(--bg-200);
}

.bg_300 {
  background: var(--bg-300);
}

.btn_yellow {
  text-align: center;
  font-weight: 800;
  border: 2px solid #fff;
  color: #fff;
  width: 80px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  transition: 2s all ease;
}

.btn_yellow:hover,
.btn_yellow:focus,
.btn_yellow:active {
  cursor: pointer;
  transition: 0.4s;
  color: #000;
  border: 2px solid #FFC702;
  background-color: #FFC702 !important;
}

.btn_yellow_active {
  text-align: center;
  font-weight: 800;
  border: 2px solid #000000;
  color: #000000;
  width: 80px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: #FFC702;
  transition: 1s all ease;
}

.btn_yellow_active:hover,
.btn_yellow_active:focus,
.btn_yellow_active:active {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.1);
  background-color: #FFC702;
}

