@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-100: #ffffff;
  --text-200: #000000;
  --text-300: #ffc702;
  --text-400: #5a5a5a;

  --bg-100: #1a1a1a;
  --bg-200: #5a5a5a;
  --bg-300: #ffffff;
  --bg-400: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  height: 100%;
}

body {
  color: var(--text-100);
  background: var(--bg-400);
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

/* General */

.principal_div {
  padding: 5rem 0 0 0;
}

.text_100 {
  color: var(--text-100);
}

.text_200 {
  color: var(--text-200);
}

.text_300 {
  color: var(--text-300);
}

.text_400 {
  color: var(--text-400);
}

.bg_100 {
  background: var(--bg-100);
}

.bg_200 {
  background: var(--bg-200);
}

.bg_300 {
  background: var(--bg-300);
}

.btn_yellow {
  text-align: center;
  font-weight: 800;
  border: 2px solid #fff;
  color: #fff;
  width: 80px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0);
  transition: 2s all ease;
}

.btn_yellow:hover,
.btn_yellow:focus,
.btn_yellow:active {
  cursor: pointer;
  transition: 0.4s;
  color: #000;
  border: 2px solid #ffc702;
  background-color: #ffc702 !important;
}

.btn_yellow_active {
  text-align: center;
  font-weight: 800;
  border: 2px solid #000000;
  color: #000000;
  width: 80px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: #ffc702;
  transition: 1s all ease;
}

.btn_yellow_active:hover,
.btn_yellow_active:focus,
.btn_yellow_active:active {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.1);
  background-color: #ffc702;
}

.wpp {
  position: fixed;
  width: 4rem;
  height: 4rem;
  z-index: 40;
  bottom: 2%;
  right: 2%;
}

.img__wpp {
  width: 100%;
  height: 100%;
}

/* Loader */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
