.blurred-background {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 0.5rem;
}

.title__collections{
  color: white;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(228, 228, 228, 0.5);
}